/* ********** Custom Properties ********** */
:root{
  --pink-light: #FBF2F7;
  --pink-normal: #F9E6F1;
  --pink-dark: #F9E6F1;
  --gray-light: #F3F3F5;
  --gray-normal: #DCDCDC;
  --gray-dark: #757575;
  --light-purple: #E5E6F3;
  --purple-dark: #573146;
  --light-blue: #DCF3ED;
  --normal-blue: #98C5D6;
  --normal-white: #FFFFFF;
  --normal-black: #312e2e;
  --dark-black: #000000;
  --font: 'Raleway', sans-serif;
  --max-width: 1200px;
    
}

/* ********** Reset ********** */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  line-height: 1.6;
}

/* ********** Utilities ********** */

.box-shadow-1 {
  box-shadow: .25rem .25rem 1rem rgba(0, 0, 0, 0.25);
}

.section {
  padding: 2rem 1rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.icon{
  font-size: 1.8rem;
  color: var(--normal-black);
  cursor: pointer;
}

.none {
  display: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-uppercase {
  text-transform: uppercase;
}



@media screen and (min-width: 768px) {
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }

}

/* ********** Utilities ********** */

/* ********** Components ********** */

/* TODO: Header */
.header{
  padding: 1rem;
}

.header__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title-container{
  display: flex;
  align-items: center;
  gap: 1rem;
}


.header__title{
  font-size: 1.5rem;
  color: var(--dark-black);
  text-decoration: none;
}

.header__search{
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 1rem;

}

.header__search > input{
  position: relative;
  z-index: 998;
  flex: 1;
  padding: .5rem;
  font-size: 1rem;
  border: none;
  outline: none;
}

.header__search>input::placeholder{
  color: var(--gray-dark);
  text-transform: uppercase;
  font-weight: 200;

}

.header__search-icon{
  font-size: 1rem;
  color: var(--dark-black);
  cursor: pointer;

}


@media screen and (min-width: 768px) {
  
}


/* TODO: Footer */
.footer{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
  background-color: var(--pink-light);
  margin-top: 1rem;
}

.footer__section-container {
  display: flex;
  flex-direction: column;
}

.footer__section{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.footer__section > h4{
  color: var(--normal-black);
  text-transform: uppercase;
  font-weight: 300;

}

.footer__section-info{
  display: inherit;
  flex-direction: column;
  gap: .5rem;
}

.footer__section-info p,.footer__section-info a{
  font-size: .9rem;
  color: var(--dark-black);
  font-weight: 500;
}


.footer__newsletter{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
  margin-bottom: 2.5rem;
}

.footer__newsletter > h4{
  color: var(--normal-black);
  text-transform: uppercase;
  font-weight: 300;
}

.footer__form{
  display: inherit;
  flex-direction: column;
  gap: .5rem;
}

.footer__form > input{
  padding: .5rem;
  border: 1px solid var(--gray-dark);
  outline: none;
  font-size: .9rem;
  color: var(--dark-black);
  background-color: inherit;
}

.footer__form > button{
  padding: .7rem 0;
  border: none;
  outline: none;
  font-size: 1rem;
  color: var(--dark-black);
  background-color: var(--pink-dark);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 300;
}

.footer__info-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.footer__social-media{
  display: flex;
  gap: 1.2rem;
}

.social-media__icon{
  font-size: 1.1rem;
}

.footer__info a{
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .footer{
    padding: 5rem;
  }

  .footer__section-container{
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__newsletter {
    margin: 0;
    order: -1;
  }

  .footer__info-container{
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

/* TODO: Navbar */

/* TODO: Modal */





/* ********** Site Styles ********** */

/* TODO: Pagina de inicio */

/* TODO: Pagina de tienda */

.main {
	padding: 2rem;
	background-color: var(--gray-light);
	min-height: 100vh;
}

.title {
	font-weight: 300;
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

.products {
	width: 100%;
	display: grid;
	gap: 1rem;
	place-items: center;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.products__card {
	gap: 1rem;
	position: relative;
  cursor: pointer;
  transition: all 2s ease-in;
}

.card__category {
	position: absolute;
	left: 0;
	color: white;
	padding: 0.2rem 1rem;
	background-color: var(--purple-dark);
}

.card__info {
	width: 100%;
}

.info__name {
	font-size: 1rem;
	font-weight: 300;
}

.info__price {
	font-weight: 400;
	font-size: 1.3rem;
}

.info__btn {
	width: 100%;
	height: 3rem;
	color: white;
	border: none;
	font-size: 1rem;
	cursor: pointer;
	font-weight: 300;
	margin-top: 1rem;
	display: inline-block;
	transition: all 0.3s ease-in-out;
	background-color: var(--purple-dark);
}

.info__btn:hover {
	background-color: var(--purple-light);
}

.card-img-hover {
  display: none;
}


@media screen and (min-width: 768px) {
  
  .main {
    padding: 7rem 8rem;
  }

  .title {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 2.5rem;
  }

  .contenedor-img {
    position: relative;
    overflow: hidden;
  }

  .card__img {
    display: block;
  }

  .products__card:hover .card__img {
    display: none;
  }

  .products__card:hover .card-img-hover {
    display: block;
  }

  .card__modal {
    width: 100%;
    height: 3rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    color: #000;
    transform: translateY(50px);
    transition: transform 500ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  .products__card:hover .card__modal {
    display: flex;
    transform: translateY(0);
    opacity: 1;
  }

  .products__card {
    transition: transform 0.3s ease;
  }
}

/* TODO: Pagina de sobre mí */

/* TODO: Pagina de contacto */
.fluidH1{
    font-size: 5.6vw;
    margin: .6rem 1rem;
    font-weight: 300;
    
}
li{
    list-style: none;

}
a{
  text-decoration: none;
  color: inherit;
}
.resetPaddingnUl{
    
    padding-inline-start: 23px;
}
.estiloParrafoInicial{
    margin: 1.5rem;
}
.estilosForm{
    display: flex;
    flex-direction: column;
    gap: 1;
    
}
.estilosForm input, .estilosForm textarea{
    border: solid 3px;
    line-height: 3rem;
    margin: .6rem 1rem;
    
}
.styleInputContact::placeholder, .estilosForm textarea{
    color: black;
    font-size: 1.2rem;
    padding: .5rem;
}
textarea{
    resize: none;
}
.buttonSubmit{
    line-height: 2.6rem;
    margin: .6rem 1rem;
    background-color: rgba(241, 214, 227, 0.756);
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
}
.buttonSubmit:hover{
    background-color: rgba(237, 189, 212, 0.987);
    transition: .2s all;
}

.buttonSubmit:not(:hover){
    transition: .2s all;

}



.parrafPadding{
    margin: .6rem 1rem;
    padding: .5rem;

}
