/* ********** Custom Properties ********** */
:root{
  --pink-light: #FBF2F7;
  --pink-normal: #F9E6F1;
  --pink-dark: #F6D9E9;
  --gray-light: #F3F3F5;
  --gray-normal: #DCDCDC;
  --gray-dark: #757575;
  --light-purple-100: #e5e6f3;
  --purple-light: #856A7A;
  --purple-dark: #573146;
  --light-blue: #dcf3ed;
  --normal-blue: #98c5d6;
  --normal-white: #ffffff;
  --normal-black: #312e2e;
  --dark-black: #000000;
  --font: "Raleway", sans-serif;
  --max-width: 1200px;
}

/* ********** Reset ********** */
html {
	box-sizing: border-box;
	font-family: var(--font);
	font-size: 16px;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	margin: 0;
	overflow-x: hidden;
}

h1 {
	margin: 0;
	font-size: 2rem;
}

h2 {
	margin: 0;
	font-size: 1.5rem;
}

h3 {
	margin: 0;
	font-size: 1.25rem;
}

h4 {
	margin: 0;
	font-size: 1rem;
}

h5 {
	margin: 0;
	font-size: 0.85rem;
}

h6 {
	margin: 0;
	font-size: 0.7rem;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

p {
	margin: 0;
	line-height: 1.6;
}

ul,
li {
	padding: 0;
	list-style: none;
}

/* ********** Utilities ********** */

.box-shadow-1 {
	box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.section {
	padding: 2rem 1rem;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--max-width);
}

.icon{
  font-size: 1.5rem;
  color: var(--normal-black);
  cursor: pointer;
}

.none {
	display: none;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.flex-col-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.text-uppercase {
	text-transform: uppercase;
}

@media screen and (min-width: 768px) {
	.full-lg-screen {
		width: 100%;
		min-height: 100vh;
	}

	.text-lg-center {
		text-align: center;
	}

  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }
}

/* ********** Utilities ********** */

/* ********** Components ********** */

/* TODO: Header */
.header__main{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
}


.header__cart-icon{
  width: 12%;
}

.header__title{
  font-size: 1.5rem;
  color: var(--dark-black);
  text-decoration: none;
  width: 80%;
}

.header__hamgurger-icon{
  display: flex;
  justify-content: flex-end;
  width: 8%;
}

.header__search {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  background-color: var(--normal-white);

}

.header__search > input {
  position: relative;
  z-index: 998;
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  outline: none;
}

.header__search > input::placeholder {
  color: var(--gray-dark);
  text-transform: uppercase;
  font-weight: 200;
}

.header__search-icon {
  font-size: 1rem;
  color: var(--dark-black);
  margin-right: .3rem;
  cursor: pointer;
}

.header__login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header__login.none{
  display: none;
}

.header__nav{
  position: fixed;
  inset: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 1rem 0 5rem;
  background-color: var(--normal-white);
  min-height: 100vh;
  visibility: hidden;
}

.header__nav a {
  color: var(--normal-black);
  font-size: .9rem;
  font-weight: 300;
  text-transform: uppercase;
  transition: color .3s ease-in-out;
}

.header__close-icon{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--dark-black);
  cursor: pointer;
}

.header__nav-main{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}




@media screen and (min-width: 576px) {  
  .header__main {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--pink-light);
  }

  .header__cart-icon {
    width: auto;
    order: 1;
  }

  .header__title {
    width: 40%;
  }

  .header__hamgurger-icon {
    display: none;
  }

  .header__search {
    flex-direction: row-reverse;
    width: auto;
    margin: 0;
  }

  .header__search-icon {
    margin: 0;
    margin-left: .3rem;
  }

  .header__nav {
    position: static;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0 1rem;
    min-height: initial;
    visibility: visible;
  }


  .header__login {
    display: none;
  }

  .header__login.none {
    display: flex;
  }

  .header__login>p:hover {
    color: var(--gray-dark);
    cursor: pointer;
  }

  .header__close-icon {
    display: none;
  }

  .header__nav-main {
    flex: 1;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .header__nav-main > a:hover{
    color: var(--pink-dark);
  }
  
  .header__nav-social-media{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}




/* TODO: Footer */
.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
  background-color: var(--pink-light);
  margin-top: 1rem;
}

.footer__section-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__section:last-child{
  margin-bottom: 1rem;
}

.footer__section > h4 {
  color: var(--normal-black);
  text-transform: uppercase;
  font-weight: 300;
}

.footer__section-info {
  display: inherit;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__section-info p,
.footer__section-info a {
  font-size: 0.9rem;
  color: var(--dark-black);
  font-weight: 500;
}

.footer__newsletter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
  margin-bottom: 2.5rem;
}

.footer__newsletter > h4 {
  color: var(--normal-black);
  text-transform: uppercase;
  font-weight: 300;
}

.footer__form {
  display: inherit;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__form > input {
  padding: 0.5rem;
  border: 1px solid var(--gray-dark);
  outline: none;
  font-size: 0.9rem;
  color: var(--dark-black);
  background-color: inherit;
}

.footer__form > button {
  padding: 0.7rem 0;
  border: none;
  outline: none;
  font-size: 1rem;
  color: var(--dark-black);
  background-color: var(--pink-dark);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 300;
  transition: color .3s ease-in-out;
}

.footer__info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__social-media {
  display: flex;
  gap: 1.2rem;
}

.social-media__icon {
  font-size: 1.1rem;
}

.footer__info a{
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .footer{
    gap: 3rem;
    padding: 5rem;
  }

  .footer__section-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__newsletter {
    margin: 0;
    order: 1;
  }

  .footer__form>button:hover{
    color: var(--normal-white);  
  }

  .footer__info-container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .footer__social-media{
    gap: 3rem;
  }

  .social-media__icon{
    font-size: 1.3rem;
  }
}

/* TODO: Navbar */

/* TODO: Modal */

/* ********** Site Styles ********** */

/* TODO: Pagina de inicio */

.main--inicio {
	min-height: 100vh;
}

/*INICIO: SECCION SLIDER*/

.hero {
	width: 100%;
	height: 15rem;
	position: relative;
	overflow: hidden;
}

.hero__sliders {
	margin: 0;
	display: flex;
	width: 300%;
	height: 100%;
}

.hero__slider {
	width: 100%;
	height: 100%;
	transition: all 0.2s ease-in-out;
	animation: slide 12s infinite linear;
}

@keyframes slide {
	0%,
	25% {
		transform: translateX(0);
	}
	33.3%,
	58.3% {
		transform: translateX(-100%);
	}
	66.6%,
	91.6% {
		transform: translateX(-200%);
	}
	100% {
		transform: translateX(0);
	}
}

.hero__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero__content {
	position: absolute;
	top: 10%;
	padding: 0 2rem;
}

.hero__title {
	font-size: 2rem;
	color: white;
}

.hero__description {
	font-size: 1.8rem;
	color: white;
}

.hero__button {
	display: inline-block;
	margin-top: 1rem;
	background-color: white;
	color: black;
	text-decoration: none;
	padding: 0.8rem;
}

@media screen and (min-width: 768px) {
	.hero {
		width: 100%;
		height: 100vh;
		position: relative;
		overflow: hidden;
	}

	.hero__content {
		top: 35%;
		padding: 0 5rem;
	}

	.hero__title {
		font-size: 3rem;
		color: white;
	}

	.hero__description {
		font-size: 2.5rem;
		color: white;
	}
}

/*INICIO: SECCION MÁS VENDIDOS*/

.product-section {
	width: 100%;
	min-height: 100vh;
	padding: 2rem;
	padding-top: 4rem;
	gap: 2rem;
}

.product-section__title {
	font-weight: 300;
	font-size: 1.8rem;
}

.product-section__content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 2rem;
	justify-content: center;
}

.product-card {
	width: 300px;
	height: 400px;
	cursor: pointer;
}

.product-card__footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	gap: 0.5rem;
}

.product-card__title {
	font-size: 1rem;
	font-weight: 300;
	transition: all 0.4s ease-in-out;
}

.product-card__price {
	font-weight: 400;
	transition: all 0.4s ease-in-out;
}

.product-card__link {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	transition: all 0.4s ease-in-out;
	text-decoration: none;
	color: var(--purple-light);
	font-weight: 700;
}

.product-card:hover .product-card__link {
	opacity: 1;
	visibility: visible;
}

.product-card:hover .product-card__title {
	opacity: 0;
	visibility: hidden;
}

.product-card:hover .product-card__price {
	opacity: 0;
	visibility: hidden;
}

.product-section__link {
	display: flex;
	align-items: center;
	width: 100%;
}

.link__first-line,
.link__second-line {
	flex: 1;
}

.link__square {
	text-decoration: none;
	color: #000;
	display: block;
	border: 1px solid black;
	padding: 0.7rem 1.5rem;
	font-size: 0.9rem;
	transition: background-color 0.5s ease;
}

.link__square:hover {
	border-color: #f3d3e4;
	background-color: #f3d3e4;
}

/*HOME: SECCION SABORES*/

.flavors-section {
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 2rem 0;
	gap: 2rem;
	padding-bottom: 2rem;
}

.flavors-section__mask {
	background-color: var(--gray-light);
	display: block;
	width: 100%;
	height: 30%;
	max-height: 25rem;
	position: absolute;
	z-index: -1;
	top: 0;
}

.flavors-section__title {
	font-weight: 300;
	font-size: 1.8rem;
}

.flavors-section__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	gap: 0.4rem;
}

.flavors-section__item img {
	width: 100%;
	height: 100%;
}

.flavors-section__load-more {
	display: block;
	border: 1px solid black;
	padding: 0.7rem 1rem;
	text-decoration: none;
	color: black;
	transition: background-color 0.5s ease;
}

.flavors-section__load-more:hover {
	border-color: var(--gray-dark);
	color: var(--gray-dark);
}

@media screen and (min-width: 768px) {
	.flavors-section {
		padding: 2rem;
		padding-bottom: 2rem;
	}

	.flavors-section__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 1024px) {
	.flavors-section {
		padding: 5rem 7rem;
		padding-bottom: 2rem;
	}

	.flavors-section__mask {
		height: 100%;
	}
}

/*HOME: SECCION SHOPPING*/

.shopping-section {
	width: 100%;
	height: 15rem;
	display: none;
	justify-content: center;
	align-items: center;
}

.shopping-section__item {
	flex: 1;
	height: 100%;
	justify-content: center;
	border-right: 1px solid #000;
}

.shopping-section__item:nth-child(3){
	border: none;
}

.shopping-section__icon {
	width: 50px;
	height: 50px;
}

.shopping-section__title {
	font-weight: 300;
	text-align: center;
	margin-top: .5rem;
	font-size: 1rem;
}

.shopping-section__description {
	font-weight: 400;
}

@media screen and (min-width: 768px) {
	.shopping-section{
		display: flex;
	}
}

@media screen and (min-width: 1024px) {
	.shopping-section__title{
		font-size: 1.3rem;
	}
}


/* TODO: Pagina de tienda */

.main {
  padding: 2rem;
  background-color: var(--gray-light);
  min-height: 100vh;
}

.title {
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.products {
  width: 100%;
  display: grid;
  gap: 1rem;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.products__card {
  gap: 1rem;
  position: relative;
  cursor: pointer;
  width: 100%;
  transition: all .3s ease-in;
}

.card__category {
  position: absolute;
  left: 0;
  color: white;
  padding: 0.2rem 1rem;
  background-color: var(--purple-dark);
}

.card__info {
  width: 100%;
}

.info__name {
  font-size: 1rem;
  font-weight: 300;
}

.info__price {
  font-weight: 400;
  font-size: 1.3rem;
}

.info__btn {
  width: 100%;
  color: white;
  height: 3rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 300;
  margin-top: 1rem;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  background-color: var(--purple-dark);
}

.info__btn:hover {
  background-color: var(--purple-light);
}

.card-img-hover {
	display: none;
}

.card__modal {
	width: 100%;
	height: 3rem;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.5);
	opacity: 0;
	color: #000;
	text-align: center;
	transform: translateY(50px);
	transition: transform 500ms cubic-bezier(0.16, 1, 0.3, 1),
		opacity 500ms cubic-bezier(0.16, 1, 0.3, 1);
}

.contenedor-img {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.contenedor-img img {
	width: 100%;
}

@media screen and (min-width: 768px) {
  .main {
    padding: 7rem 8rem;
  }

	.title {
		text-align: center;
		font-size: 1.75rem;
		margin-bottom: 2.5rem;
	}

	.products__card:hover .card__img {
		display: none;
	}

	.products__card:hover .card-img-hover {
		display: block;
	}

	.products__card:hover .card__modal {
		display: flex;
		transform: translateY(0);
		opacity: 1;
	}
}

@media screen and (min-width: 1024px) {
	.main {
		padding: 7rem 8rem;
	}
}

/* TODO: Pagina de sobre mí */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray-light);
  padding: 4rem 1rem;
}

.about > img {
  border-radius: 50%;
  margin-bottom: 30px;
  width: 200px;
}

.about .title {
  font-weight: 400;
  margin-top: 0.2rem;
  margin-bottom: 0.9rem;
}

.about p {
  text-align: center;
  font-size: 0.9rem;
}
.container__about__text {
  max-width: 260px;
}

@media screen and (min-width: 768px) {
  .about {
    max-width: 1260px;
  }
  .about > img {
    border-radius: 50%;
    margin-bottom: 30px;
    width: 300px;
  }

  .container__about__text {
    max-width: 620px;
  }
}

/* TODO: Pagina de contacto */
/*! Modificación de metologia ,  camecase a bem */
.contacto{
  background: var(--gray-light);
}
.contacto__title{
    font-size: 5.6vw;
    margin: .6rem 1rem;
    font-weight: 300;
    
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.info__lista{
    
    padding-inline-start: 23px;
}
.contacto__text{
    margin: 1.5rem;
}

.form__input::placeholder{
    color: black;
    font-size: 1.2rem;
    padding: .5rem;
}
.form{
  
  margin: 0 1rem;
  
}
.form__section--input--nombre,
.form__section--input--correo {
    /* margin: 0 1rem; */
    width: 100%;
    line-height: 47px;
  }
  .form__section--input--mensaje{
    width: 100%;
    line-height: 9vh;
    resize: none;
  }
  .form__section--input--mensaje::placeholder{
    padding: .5rem;
    line-height: 1rem;
  }

  
  .form__btn{
    line-height: 2.6rem;
    margin: .6rem 0;
    background-color: rgba(241, 214, 227, 0.756);
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    width: 100%;
}
.form__btn:hover{
    background-color: rgba(237, 189, 212, 0.987);
    transition: .2s all;
}

.form__btn:not(:hover){
    transition: .2s all;

}
.info__lista--paddingbottom{
  padding-bottom: 3rem;
}
.info__title{
    margin: .6rem 1rem;
    padding: .5rem;
}
/* *Lapto */
.form__section--div--grid >*{
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px){
  .info__lista--paddingbottom{
    padding-bottom:0;
  }
  .form__section--input--mensaje{
    width: 100%;
    line-height: 4vh;
    resize: none;
  }
  .contacto{
    display: flex;
  }
  .contacto__title{
    font-size:1.6rem ;
  }
  .form__section--div--grid{
    display: grid;
    grid-template-columns: repeat(2, 30%);
    grid-template-rows: repeat(3, 5vh);
    grid-auto-rows: auto;
    width: 81%;
    margin: 0 auto;
    gap: 1rem;
    
  }
  .form__div--grid-order-nombre{
    /* display: flex; */
  }
  .form__div--grid-order-correo{
    
    order: 1;
    /* display: flex; */
  }
  
  .form__div--grid-order-mensaje{
    order: 0;
    display: grid;
    grid-auto-rows: 118px;
   
  }
   /* .form__section--input--mensaje::placeholder{

   } */
  .form__div--grid-order-enviar{
    order: 1;
    grid-row: -2 / -1;
    grid-column: 2/3;
  }

  .form__section--input--nombre{
    
  }
  .form .form__section--input--correo{

    /* display: grid;
    order: 3 ; */
  }
  .form .form__section--input--mensaje{
    /* display: grid;
    order: 2 ; */
  }
  .form__section--input--enviar{

  }
}
